* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 0rem;
}

a {
    text-decoration: none;
}

.appLogoTimerUserIconContainer {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: auto;
}

.appLogoTimerUserIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.successBoxLogo {
    max-width: 207px;
    width: 100%;
    height: auto;
}

.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timerTitle {
    font-size: 26px;
    font-weight: 600;
}

.timer {
    font-size: 32px;
    font-weight: 700;
    color:#FE1313;
}

.userSubject > p{
    font-size: 32px;
    font-weight: 700;
    color: #003f7d;
}

.pauseTimerContainer {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pauseIcon {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.pauseIcon > p {
    font-size: 32px;
    font-weight: 700;
}

.qTextAndOptionsContainer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: auto;
    gap: 10rem;
    margin-bottom: 2.5rem;
}

.leftSection {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 739.23px;
    width: 100%;
    height: auto;
    gap: 0rem;
}

.qUpperBox {
    max-width: 714px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.qTextBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 0;
}

.qTextBox > h2 {
    font-size: 26.83px;
}

.qTextBox > p {
    font-size: 26px;
    font-weight: 400;
}

.mathImgBox {
    margin: 0 auto;
    max-width: 208px;
    width: 100%;
    height: auto;
}

figcaption {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #003f7d;
}

.optionsContainer {
    width: 100%;
    height: 100vh;
}

.optionsBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
}

.optionsWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px 8px 15px;
    border: 1px solid #000;
    border-radius: 8px;
}

.aComponent {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    max-width: 67.63px;
    width: 100%;
    height: auto;
}

.optionLetter {
    font-size: 17.04px;
    font-weight: 700;
}

.optionAns {
    font-size: 17.04px;
    font-weight: 400;
}

#polyTwoOption {
    width: 50px;
    height: 30px;
}

.qNavButtonContainer {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.qNavButtonContainer > a {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: #232323;
    border: 2px solid var(--Color-min-Orange, #FFAA60B2);
    border-radius: 15px;
    padding: 17px 55px 17px 55px;
}

.qSideNavButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightSection {
    margin: 0 auto;
    max-width: 490px;
    width: 100%;
    height: 487px;
    background: #E7E5E5;
    padding: 32px 50px 32px 50px;
    border: none;
    border-radius: 20px;
}

.qNavButtonsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.btn1 {
    padding: 10.16px 20.32px 10.16px 20.32px;
    border: 1px solid #0C8E09;
    border-radius: 10.16px;
    background: #FFFFFF;
    cursor: pointer;
}

.btn1 > a {
    color: #232323;
    font-size: 20.32px;
    font-weight: 600;
}

.submissionButton {
    display: flex;
    justify-content: center;
}

.submissionButton > a {
    padding: 20px 89px 20px 89px;
    border: none;
    border-radius: 15px;
    background: #FD7702;
    color: #FCFCFC;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}